
<footer *ngIf="itemCount &gt; 0" class="footer"><span class="todo-count"><strong>{{itemCount}}</strong>条</span>
  <ul class="filters">
    <li><a [routerLink]="['/todo',{filterType:'all'}]" [class.active]="currFilterType==='all'">全部</a></li>
    <li><a [routerLink]="['/todo',{filterType:'active'}]" [class.active]="currFilterType==='active'">活跃</a></li>
    <li><a [routerLink]="['/todo',{filterType:'completed'}]" [class.active]="currFilterType==='completed'">已完成</a></li>
  </ul>
  <button type="button" (click)="clear()" class="clear-completed">清除已完成</button>
</footer>