
<div>
  <form #formCtrl="ngForm" (ngSubmit)="onLogin(formCtrl.valid)">
    <div>用户:
      <input type="text" [(ngModel)]="username" required="required" minlength="2" name="username"/>
      <p *ngIf="formCtrl.controls['username']?.touched &amp;&amp; formCtrl.controls['username']?.errors?.required">请输入用户帐号.</p>
      <p *ngIf="formCtrl.controls['username']?.touched &amp;&amp; formCtrl.controls['username']?.errors?.minlength">用户帐号长度不合法.</p>
    </div>
    <div>密码:
      <input type="password" [(ngModel)]="password" required="required" name="password"/>
      <p *ngIf="formCtrl.controls['password']?.touched &amp;&amp; formCtrl.controls['password']?.errors?.required">请输入密码.</p>
    </div>
    <div>
      <button type="submit">登录</button>
    </div>
    <hr/>
    <p *ngIf="auth?.hasError">{{auth?.errMsg}}</p>
  </form>
</div>