section.main(*ngIf!='todos?.length > 0')
  input.toggle-all(type="checkbox",#checkAll="",(click)="toggleAll(checkAll.checked)")
  ul.todo-list
    li(*ngFor='let todo of todos',[class.completed]='todo.completed')
      app-todo-item([isChecked]="todo.completed",
        [desc]="todo.desc",(onRequireSwitch)="switchItem(todo)",
        (onRequireRemove)="removeItem(todo)")
