div
  mdl-icon-toggle((click)='switch();$event.stopPropagation()',
    [(ngModel)]="isChecked") check_circle
  label.todoDesc((click)='switch();$event.stopPropagation()',
    [class.labelcompleted]='isChecked') {{desc}}
  button.destroy((click)='remove();$event.stopPropagation()')
