section.todoapp
  app-todo-header(hint="需要做什么?",(onInputCompleted)="addTodo($event)")
  app-todo-list([todos]="todos",(onRequireSwitch)="toggleTodo($event)",(onRequireRemove)="removeTodo($event)",
  (onRequireToggleAll)="toggleAll($event)")
  app-todo-footer([itemCount]="todos?.length",
    (onRequireClear)="clearCompleted()")

